.reveal section img {
  border: unset;
}

.emojione {
  vertical-align: middle !important;
  box-shadow: none !important;
  margin: 0 !important;
  height: 2ex !important;
}
.reveal section .reference {
  font-size: medium;
}
.reveal .left-aligned {
  text-align: left !important;
}

.reveal pre code {
  font-family: 'Roboto Mono', monospace;
  max-height: 500px;
}

.reveal img {
  max-width: 80%;
}

.reveal pre > code {
  font-size-adjust: 0.6;
  line-height: 2.6ex;
}

.reveal section > aside {
  font-size-adjust: 0.3;
  color: #666;
}

.reveal p > code,
.reveal li > code {
  font-size-adjust: 0.55;
  color: #4c9ed9;
}

.bright-text * {
  color: #fdf3e6 !important;
/*   text-shadow: 0 0 1em #333, 0 0 0.2em #333 !important; */
}

.plain-image {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: unset;
}
